<!DOCTYPE html>
<html lang=en>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<body>
<title>GRETIL Pali Text Searcher</title>
<h1>GRETIL Pali Text Searcher</h1><br>
<form action="/result" method="post" enctype="cgi-bin/abc.cgi"><br>
    <input type="text" placeholder="Input word(s) to be searched here" name="word" required/><br>
    <input type="radio" name="KH" value="1">Use KH-transcription system
    <input type="radio" name="KH" value="0" checked = "checked">Input Unicode characters by yourself<br>
    <input type="radio" name="BR" value="1">Show line-changes
    <input type="radio" name="BR" value="0" checked = "checked">Neglect line-changes<br><br>
    Please input maximum number of results shown at ones
    <input type="number" name="item_max_number" min="100" step="100" value="100", required><br><br>
    Please select texts:
    <div>
        <button id="check_all">Check All Texts</button>
        <button id="clear_all">Clear All</button><br>
        <button id="check_all_suttas">Check All Sutta Texts</button>
        <button id="check_all_abhidhamma_texts">Check All Abhidhamma Texts</button>
    </div>

    <label><input type="checkbox" name="text" value="Vin"/>Vin<br></label>

    <label><input type="checkbox" name="text" class="Sutt" value="DN"/>DN</label>
    <label><input type="checkbox" name="text" class="Sutt" value="MN"/>MN</label>
    <label><input type="checkbox" name="text" class = "Sutt" value="SN"/>SN</label>
    <label><input type="checkbox" name="text" class = "Sutt" value="AN"/>AN</label>
    <label><input type="checkbox" id="sutta_all" />all</label><br>


    <label><input type="checkbox" name="text" class="Ku" value="Khp"/>Khp</label>
    <label><input type="checkbox" name="text" class="Ku" value="Dhp"/>Dhp</label>
    <label><input type="checkbox" name="text" class="Ku" value="Ud"/>Ud</label>
    <label><input type="checkbox" name="text" class="Ku" value="It"/>It</label>
    <label><input type="checkbox" name="text" class="Ku" value="Sn"/>Sn</label>
    <label><input type="checkbox" name="text" class="Ku" value="Pv"/>Pv</label>
    <label><input type="checkbox" name="text" class="Ku" value="Vm"/>Vv</label>
    <label><input type="checkbox" name="text" class="Ku" value="Th"/>Th</label>
    <label><input type="checkbox" name="text" class="Ku" value="Thi"/>Thi</label>
    <label><input type="checkbox" name="text" class="Ku" value="J"/>J</label>
    <label><input type="checkbox" name="text" class="Ku" value="Nidd_I"/>Nidd I</label>
    <label><input type="checkbox" name="text" class="Ku" value="Nidd_II"/>Nidd II</label>
    <label><input type="checkbox" name="text" class="Ku" value="Paṭis"/>Paṭis</label>
    <label><input type="checkbox" name="text" class="Ku" value="Ap"/>Ap</label>
    <label><input type="checkbox" name="text" class="Ku" value="Bv"/>Bv</label>
    <label><input type="checkbox" name="text" class="Ku" value="Cp"/>Cp</label>
    <label><input type="checkbox" id="ku_all" />all</label><br>


    <label><input type="checkbox" name="text" class="abhi" value="Dhs"/>Dhs</label>
    <label><input type="checkbox" name="text" class="abhi" value="Vibh"/>Vibh</label>
    <label><input type="checkbox" name="text" class="abhi" value="Dhātuk"/>Dhātuk</label>
    <label><input type="checkbox" name="text" class="abhi" value="Pugg"/>Pugg</label>
    <label><input type="checkbox" name="text" class="abhi" value="Kv"/>Kv</label>
    <label><input type="checkbox" name="text" class="abhi" value="Yam"/>Yam</label>
    <label><input type="checkbox" id="abhi_all" />all</label>
    <br>

    <label><input type="checkbox" name="text" class="other" value="Mil"/>Mil</label>
    <label><input type="checkbox" name="text" class="other" value="Vism"/>Vism</label>
    <label><input type="checkbox" name="text" class="other" value="Sp"/>Sp</label>
    <label><input type="checkbox" name="text" class="other" value="Ja"/>Ja</label>
    <label><input type="checkbox" id="other_all" />all</label>
    <br><br>
    <input type="submit" />
</form>
<script type="text/javascript">
    function textCheckBoxes() {
      return document.getElementsByName('text');
    }

    const checkAllButton = document.getElementById('check_all');
    checkAllButton.addEventListener('click', function (event) {
        const checkboxes = textCheckBoxes();
        for (const i in checkboxes) {
            checkboxes[i].checked = true;
        }
        event.preventDefault();
    });

    const clearAllButton = document.getElementById('clear_all');
    clearAllButton.addEventListener('click', function (event) {
        const checkboxes = textCheckBoxes();
        for (const i in checkboxes) {
            checkboxes[i].checked = false;
        }
        event.preventDefault();
    });

    const checkAllSuttasButton = document.getElementById('check_all_suttas');
    checkAllSuttasButton.addEventListener('click', function (event) {
        let checkboxes = Array.from(document.getElementsByClassName('Sutt'));
        checkboxes = checkboxes.concat(Array.from(document.getElementsByClassName('Ku')));
        for (const i in checkboxes) {
            checkboxes[i].checked = true;
        }
        event.preventDefault();
    });

    const checkAllAbhidhammaTextsButton = document.getElementById('check_all_abhidhamma_texts');
    checkAllAbhidhammaTextsButton.addEventListener('click', function (event) {
        const checkboxes = Array.from(document.getElementsByClassName('abhi'));
        for (const i in checkboxes) {
            checkboxes[i].checked = true;
        }
        event.preventDefault();
    });

    var checkall1 = document.getElementById('sutta_all');
    checkall1.addEventListener('click', function () {
        var checkboxes = document.getElementsByClassName('Sutt');
        for (i in textCheckBoxes()) {
            checkboxes[i].checked = this.checked;
        }
    });
    var checkall2 = document.getElementById('ku_all');
    checkall2.addEventListener('click', function () {
        var checkboxes = document.getElementsByClassName('Ku');
        for (i in checkboxes) {
            checkboxes[i].checked = this.checked;
        }
    });
    var checkall3 = document.getElementById('abhi_all');
    checkall3.addEventListener('click', function () {
        var checkboxes = document.getElementsByClassName('abhi');
        for (i in checkboxes) {
            checkboxes[i].checked = this.checked;
        }
    });
    var checkall4 = document.getElementById('other_all');
    checkall4.addEventListener('click', function () {
        var checkboxes = document.getElementsByClassName('other');
        for (i in checkboxes) {
            checkboxes[i].checked = this.checked;
        }
    });
</script>
<br>
<br>

*All E-texts used here are based on PTS version inputted by Dhammakaya Foundation, uploaded on GRETIL - Göttingen Register of Electronic Texts in Indian Languages（http://gretil.sub.uni-goettingen.de/gretil.html). <br>
**This system is in beta. If you find any problems, please let me know. I would greatly appreciate it.<br>
<br>

Watanabe Yoichiro, Graduate School of The University of Tokyo <br>
</body>
</html>